body {
  margin: 20px;
  max-width: 700px;
  margin: auto;
}

img {
  width: 100%;
  height: 100%;
}
.main-container {
  display: flex;
  margin: 10px;
  border: 1px solid black;
  justify-content: space-between;
  padding-bottom: 20px;
}

.left-container {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-left: 40px;
  margin-top: 20px;
}

.right-container {
  flex-basis: 50%;
  margin: 20px;
  display: flex;
}

form {
  flex-grow: 1;
}

.name {
  width: 100%;
}

textarea {
  width: 100%;
}

.confirmation-banner {
  color: green;
  background-color: lightgreen;
  margin: 10px;
  display: flex;
  position: relative;
  display: none;
}

.exit {
  display: inline;
  position: absolute;
  right: 2px;
  bottom: 1px;
}
